
body {
	margin-bottom: 40px;
}

div[data-key] {
	margin: 2px;
}

footer {
	background-color: var(--content-background);
	border-top: solid 2px var(--content-border);
	bottom: -60px;
	height: 40px;
	left: 0;
	padding: 10px;
	position: fixed;
	right: 0;
	transition-duration: 0.5s;
}

footer.shown {
	bottom: 0px;
}

section {
	display: inline-block;
}

section h3 {
	margin-bottom: 8px;
	text-align: center;
}

section > div[id] {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	max-height: 400px;
	transition: 1s;
}

#bottomInfo {
	display: flex;
}

#bottomInfo > div:last-child {
	flex-basis: 100%;
	padding: 0px 20px;
}

#bottomInfo > div:last-child textarea {
	border-radius: 8px;
	font-family: Arial, Helvetica, sans-serif;
	height: 300px;
	margin-top: 20px;
	padding: 8px;
	width: 100%;
}

#charInput {
	align-items: center;
	display: inline-flex;
	justify-content: stretch;
}

#charInput button {
	flex-basis: 0%;
}

#main {
	align-items: flex-start;
	background-color: var(--inset-background);
	border-radius: 10px;
	display: flex;
	flex-wrap: wrap;
	margin: 10px;
}

#main section label {
	display: block;
}

#main section:last-child {
	flex-basis: 600px;
}

#helpPanel {
	background-color: var(--content-background);
	border-bottom: solid 1px var(--content-border);
	border-right: solid 1px var(--content-border);
	border-bottom-right-radius: 4px;
	left: 0;
	padding: 2px 4px 4px 2px;
	position: fixed;
	top: 0;
}

#nameModal {
	height: 600px;
	max-height: 100%;
	max-width: initial !important;
	width: 600px;
}

#nameModal iframe {
	height: 500px;
	margin: 10px 0;
	max-height: 85%;
}

#printout {
	margin: 20px;
}

#referLink {
	padding: 10px;
	position: absolute;
	right: 0;
	top: 0;
}

.costIncreased {
	color: var(--common-gold);
}

.costHigh {
	color: var(--common-red);
}

.costExtreme {
	color: var(--common-alert);
}

@media screen and (max-width: 575px) {
	#nameModal {
		width: 100%;
	}
}

@media screen and (max-width: 575px) {
	body {
		margin-bottom: 60px;
	}
	body > section:first-of-type {
		margin: 10px 0;
	}

	body > section:first-of-type > div {
		display: grid;
		grid-template-columns: auto auto;
	}

	footer {
		height: 60px;
	}

	form {
		display: grid;
		grid-template-columns: auto auto auto auto;

	}

	form button:first-of-type {
		grid-column-start: 2;
	}

	form input[type='text'], form span {
		grid-column-start: 2;
  		grid-column-end: 5;
	}

	h1 {
		margin-top: 50px;
	}

	section, section input, #bottomInfo, #main {
		width: 100%;
	}
	
	section > div[id] {
		max-height: initial;
	}

	#bottomInfo {
		flex-direction: column;
	}

	#bottomInfo > div:last-child {
		padding: 0px 10px;
	}

	#helpPanel {
		position: absolute;
	}

	#main {
		margin: 10px 0;
	}

	#main section {
		padding: 10px 32px;
	}

	#main section > div[id] {
		height: 0px;
		overflow: hidden;
	}

	#main section > h3 {
		width: 100%;
	}

	#main section > h3::after {
		content: " +";
	}

	#main section.expanded > div[id] {
		height: initial;
		overflow: initial;
	}

	#main section.expanded > h3::after {
		content: " ‒";
	}

	#main section:last-child {
		flex-basis: initial;
	}

	#printout {
		margin: 0 10px 20px 10px;
		max-width: 360px;
	}
}

@media screen and (max-width: 360px) {
	#helpModal > div {
		max-height: 400px;
		overflow: auto;
	}
}