footer {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	margin: 0px 20px 20px 20px;
	text-align: left;
}

footer a.buttonLink {
	border-radius: 24px;
	margin-left: 4px;
	padding: 8px;
	transition: 0.5s;
}

footer a.buttonLink:hover {
	background-color: var(--gm-background);
}

footer a.buttonLink img {
	height: 32px;
	margin-right: 4px;
	opacity: 0.75;
	position: relative;
	top: 12px;
	transition: 1s;
}

footer a.buttonLink:hover img {
	opacity: 1;
}

input.invalid {
	border-color: var(--common-alert);
	color: var(--common-alert);
}

#characterButtons {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	max-height: 280px;
	padding-left: 20px;
}

#characterButtons > button:first-of-type {
	min-height: 50px;
	margin: 10px 0;
	width: 100%;
}

#characterButtons button + button {
	margin-top: 20px;
}

#characterButtons div {
	align-content: flex-start;
	display: flex;
	flex-basis: 100%;
	flex-direction: column;
	justify-content: flex-end;
	margin: 20px 0 10px 0;
}

#characterCenter {
	align-items: stretch;
	background-color: var(--inset-background);
	border-radius: 12px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

#characterCommands {
	align-items: stretch;
	background-color: var(--content-background);
	border-radius: 8px;
	display: flex;
	margin: 20px;
	padding: 10px 20px;
}

#charListHolder {
	min-height: 400px;
	overflow: auto;
	width: 288px;
}

#characterList {
	align-items: flex-start;
	counter-reset: character;
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 10px;
}

#characterList li {
	align-items: center;
	display: flex;
	list-style: none;
	margin: 10px;
	width: 240px;
}


#characterList li button {
	margin: 0 auto;
}

#characterList li.charItem {
	background-color: var(--gm-background);
	border-radius: 8px;
	cursor: pointer;
	padding: 10px 20px 10px 36px;
	position: relative;
	top: 0;
	transition: 0.5s;
}

#characterList li.charItem::before {
	align-items: center;
	bottom: 0px;
	color: rgba(255, 255, 255, 0.5);
	counter-increment: character;
	content: counter(character);
	display: flex;
	position: absolute;
	top: 0px;
	left: 16px;
}

#characterList li.charItem:hover {
	background-color: var(--important-background);
}

#characterList li.charItem + li.charItem + li.charItem + li.charItem + li.charItem + li.charItem + li.charItem + li.charItem + li.charItem + li.charItem {
	padding-left: 42px;
}

#main {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

#miscTasks {
	padding: 0 20px;
}

#miscTasks h3 {
	margin-top: 20px;
}

#newUserPrompt {
	align-items: center;
	background-color: var(--content-background);
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	max-width: 400px;
	padding-top: 32px;
}

#newUserPrompt button {
	height: 32px;
	margin-bottom: 20px;
	padding: 0 20px;
}

#newUserPrompt p {
	margin-bottom: 20px;
	max-width: 320px;
}

#printout {
	max-width: 360px;
	min-width: 240px;
}

#storyModal {
	max-height: 90%;
	max-width: 90%;
	min-width: 240px;
	overflow-y: auto;
}

#storyModal > div {
	max-height: 80%;
	overflow-y: auto;
}

#storyModal ul {
	display: flex;
	flex-direction: column;
	list-style: none;
	margin: 10px 0px;
	width: 100%;
}

#storyModal ul li {
	border: solid 1px var(--content-border);
	border-radius: 8px;
	margin: 0px;
	padding: 4px 8px;
	text-align: left;
}

#storyModal ul li + li {
	margin-top: 4px;
}

#storyModal ul li div {
	display: flex;
	justify-content: flex-end;
}

#storyPreviewModal {
	align-items: center;
	bottom: 20px;
	flex-direction: column;
	left: 20px;
	max-width: none !important;
	position: fixed;
	right: 20px;
	top: 20px;
}

#storyPreviewModal.show {
	display: flex !important;
}

#storyPreviewModal > h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

#storyPreviewModal > div {
	align-self: stretch;
	background-color: var(--page-background);
	border-radius: 8px;
	flex-basis: 100%;
	margin: 0px 20px 10px 20px;
	overflow: auto;
	padding: 10px 20px;
	text-align: left !important;
}

#taskHolder {
	border: solid 1px var(--content-border);
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	padding: 10px 8px;
}

#taskHolder button + button {
	margin-top: 12px;
}

#settingsModal > div {
	margin-top: 10px;
}

#settingsModal p {
	margin: 8px 0px 0px 0px !important;
}

#welcomeHeader {
	margin-bottom: 12px;
}

.settingGroup {
	border: solid 1px var(--content-border);
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	padding: 8px;
	vertical-align: middle;
}

@media screen and (max-width: 575px) {
	footer a.buttonLink {
		background-color: var(--gm-background);
	}

	footer a.buttonLink img {
		opacity: 1;
	}

	#characterButtons {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		padding: 0;
	}

	#characterButtons button + button {
		margin-bottom: 10px;
		margin-top: 0px;
	}

	#characterCommands {
		flex-direction: column-reverse;
	}

	#charListHolder, #characterList li {
		margin-right: 20px;
		width: 100% !important;
	}

	#storyPreviewModal {
		bottom: 10px;
		left: 10px;
		right: 10px;
		top: 10px;
	}

	#storyPreviewModal div {
		margin: 0px 0px 10px 0px;
		padding: 10px;
	}

	#taskHolder {
		min-height: initial;
	}

	.smolbreak {
		display: block;
		margin-left: 20px;
	}
}