h3 {
	margin-top: 8px;
}

#main {
	display: flex;
}

#encounterInfo {
	min-width: 600px;
}

#encounterInfo > form {
	align-items: center;
	display: flex;
}

#encounterInfo > form div {
	display: flex;
	align-items: center;
}

#npcList, #playerList {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#npcList form, #playerList form {
	display: flex;
	margin-top: 8px;
}

#npcList input, #playerList input {
	flex-basis: 100%;
}

#npcManagement, #playerManagement {
	background-color: #606060;
	border-radius: 8px;
	display: flex;
	padding:10px;
}

#npcManagement > div:first-child, #playerManagement > div:first-child {
	flex-basis: 100%;
}

#npcManagement > div:last-child, #playerManagement > div:last-child {
	margin-left: 10px;
	min-width: 280px;
}

#npcManagement > div:last-child {
	background-color: silver;
	border-radius: 8px;
	color: black;
	padding: 20px;
	text-align: left;
}

#npcManagement > div + div > div {
	margin-top: 2px;
}

#npcManagement li div, #playerManagement li div {
	align-items: flex-start;
	display: flex;

	justify-content: space-between;
	width: 100%;
}

#npcManagement li a, #playerManagement li a {
	cursor: pointer;
	flex-basis: 100%;
}

#npcManagement li a:hover, #playerManagement li a:hover {
	font-weight: bold;
}

#readOut {
	flex-basis: 100%;
}

#rollingSection {
	display: flex;
	flex-basis: 100%;
	flex-direction: column;
}

#rollPanel div {
	margin: 4px;
}

#rollPanel input {
	flex-basis: 100%;
	margin-left: 8px;
}

#rollPanel div > div > div {
	margin: 0;
}

/* Ugly af. */
#rollPanel > div > div:not(:first-child), #rollPanel > div > div > div > div {
	border: solid 1px #202020;
	border-radius: 4px;
	padding: 2px 8px;
}

#rollPanel > div > div > div > div {
	margin: 0 4px 4px 4px;
}

@media screen and (max-width: 1100px) {
	#encounterInfo {
		min-width: initial;
	}

	#encounterInfo > form {
		justify-content: center;
	}

	#main {
		flex-wrap: wrap;
	}

	#main > * {
		width: 100%;
	}
}

@media screen and (max-width: 640px) {
	#npcManagement, #playerManagement {
		align-items: center;
		flex-direction: column;
	}

	#npcManagement > div:first-child, #playerManagement > div:first-child {
		margin-bottom: 8px;
		width: 100%;
	}

	#npcManagement > div:last-child, #playerManagement > div:last-child {
		margin-left: 0px;
		max-width: 300px;
	}

	#rollPanel > div > div:nth-child(3) {
		flex-direction: column;
	}

	#rollPanel > div > div + div {
		margin-top: 8px;
	}
}

@media screen and (max-width: 575px) {
	#encounterInfo > form {
		flex-direction: column;
	}

	#encounterInfo > form div {
		margin-bottom: 4px;
	}

	/* Override font size from style.css */
	#npcCurForm label {
		font-size: medium !important;
	}

	.flexMe {
		flex-direction: column;
	}

	#rollPanel input {
		margin-left: 0px;
	}

	#rollPanel > div > div:last-child > div > div {
		margin-top: 8px;
	}
}