h3 {
	margin-top: 8px;
}

#main {
	display: flex;
}

#encounterInfo {
	min-width: 600px;
}

#encounterInfo > form {
	display: flex;
	justify-content: center;
}

#npcList, #playerList {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#npcList button, #playerList button {
	padding: 2px 4px;
}

#npcList form, #playerList form {
	display: flex;
	margin-top: 8px;
}

#npcList input, #playerList input {
	flex-basis: 100%;
}

#npcManagement, #playerManagement {
	background-color: var(--important-background);
	border-radius: 8px;
	display: flex;
	padding: 10px;
}

#npcManagement > div:first-child, #playerManagement > div:first-child {
	flex-basis: 100%;
}

#npcManagement > div:last-child, #playerManagement > div:last-child {
	margin-left: 10px;
	min-width: 280px;
}

#npcManagement > div:last-child {
	background-color: var(--printout-background);
	border-radius: 8px;
	color: var(--printout-color);
	padding: 20px;
	text-align: left;
}

#npcManagement > div + div > div {
	margin-top: 2px;
}

#npcManagement li div, #playerManagement li div {
	align-items: flex-start;
	display: flex;

	justify-content: space-between;
	width: 100%;
}

#npcManagement li a, #playerManagement li a {
	cursor: pointer;
	flex-basis: 100%;
}

#npcManagement li a:hover, #playerManagement li a:hover {
	font-weight: bold;
}

#NPCTemplateValues {
	display: grid;
	grid-template-columns: auto auto;
	margin: 20px;
}

#NPCTemplateValues > div {
	background-color: var(--gm-background);
	border: solid 1px var(--content-border);
	margin-top: -1px;
	padding: 2px 8px;
	text-align: left;
	white-space: nowrap;
}

#NPCTemplateValues > div:nth-child(even) {
	margin-left: -1px;
}

#NPCTemplateValues > div:first-child {
	border-top-left-radius: 4px;
}

#NPCTemplateValues > div:nth-child(2) {
	border-top-right-radius: 4px;
}

#NPCTemplateValues > div:nth-last-child(2) {
	border-bottom-left-radius: 4px;
}

#NPCTemplateValues > div:last-child {
	border-bottom-right-radius: 4px;
}

#playerControls button {
	display: block;
	margin: 6px auto 0px auto;
}

#playerRollPanel {
	display: flex;
	align-items: center;
}

#playerSearchResults {
	max-height: 400px;
	overflow: auto;
}

#profileDone {
	margin-top: 10px;
}

#profileModal iframe {
	border-radius: 0;
}

#readOut {
	flex-basis: 100%;
}

#rollingSection {
	display: flex;
	flex-basis: 100%;
	flex-direction: column;
}

#rollPanel div {
	margin: 4px;
}

#rollPanel > div > .flexMe:first-child {
	flex-wrap: nowrap;
}

#rollPanel input {
	flex-basis: 100%;
	margin-left: 8px;
}

#rollPanel div > div > div {
	margin: 0;
}

/* Ugly af. */
#rollPanel > div > div:not(:first-child), #rollPanel > div > div > div > div {
	border: solid 1px var(--content-border);
	border-radius: 4px;
	padding: 2px 8px;
}

#rollPanel > div > div > div > div {
	margin: 0 4px 4px 4px;
}

#commentArea > div {
	border: none !important;
	text-align: center;
}

#commentArea textarea {
	resize: vertical;
	width: 100%;
}

.summonDisplay {
	align-items: stretch !important;
	display: flex;
	justify-content: space-between;
}

.summonDisplay::before {
	content: '» ';
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.summonDisplay > div {
	align-items: center !important;
	display: flex;
}

@media screen and (max-width: 1100px) {
	#encounterInfo {
		min-width: initial;
	}

	#main {
		flex-wrap: wrap;
	}

	#main > * {
		width: 100%;
	}
}

@media screen and (max-width: 640px) {
	#npcManagement, #playerManagement {
		align-items: center;
		flex-direction: column;
	}

	#npcManagement > div:first-child, #playerManagement > div:first-child {
		margin-bottom: 8px;
		width: 100%;
	}

	#npcManagement > div:last-child, #playerManagement > div:last-child {
		margin-left: 0px;
		max-width: 300px;
	}

	#rollPanel > div > div:nth-child(3) {
		flex-direction: column;
	}

	#rollPanel > div > div + div {
		margin-top: 8px;
	}
}

@media screen and (max-width: 575px) {
	.summonDisplay > div:last-of-type {
		align-items: flex-end !important;
		display: flex;
		flex-direction: column-reverse;
	}

	.summonDisplay button {
		min-width: 30px;
	}

	#encounterInfo > form {
		flex-direction: column;
	}

	#encounterInfo > form div {
		margin-bottom: 4px;
	}

	/* Override font size from style.css */
	#npcCurForm label {
		font-size: medium !important;
	}

	.flexMe, #rollPanel > div > .flexMe:first-child {
		flex-direction: column;
	}

	#rollPanel input {
		margin-left: 0px;
	}

	#rollPanel > div > div:last-child > div > div {
		margin-top: 8px;
	}
}