:root {
	--page-background: #202020;
	--inset-background: #101010;
	--content-color: white;
	--content-background: #404040;
	--content-border: #202020;
	--subordinate-text: #e0e0e0;
	--comment-background: #383838;
	--gm-color: silver;
	--gm-background: #303030;
	--important-background: #606060;
	--printout-color: black;
	--printout-background: silver;
	--link-color: #80c0ff;
	--link-visited: #5090e0;
	--common-green: #c0ffb0;
	--common-gold: #fff0c0;
	--common-red: #ffc0b0;
	--common-alert: #ff2000;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

li {
	margin-left: 20px;
}

body {
	background-color: var(--inset-background);
	color: var(--content-color);
	padding: 20px;
	text-align: center;
}

body, textarea {
	font-family: U001Regular, sans-serif;
}

a:link {
	color: var(--link-color);
}

a:visited {
	color: var(--link-visited);
}

a[target='_blank']:not(.notail)::after {
	content:' \e064';
	font-family: 'Icons';
	font-size: 11.25px;
}

aside, blockquote {
	background-color: var(--comment-background);
	border: solid 1px var(--content-border);
	border-radius: 8px;
	padding: 2px 8px;
}

aside:not(:first-child), blockquote:not(:first-child) {
	margin-top: 10px;
}

aside:not(:last-child), blockquote:not(:last-child) {
	margin-bottom: 10px;
}

blockquote {
	font-style: italic;
}

button, #handbook nav a {
	background-color: #e0e0e0;
	border-bottom: solid 2px #808080;
	border-left: solid 2px silver;
	border-radius: 4px;
	border-right: solid 2px #808080;
	border-top: solid 2px silver;
	cursor: pointer;
	margin: 2px;
	padding: 2px 8px;
}

button:hover, #handbook nav a:hover {
	background-color: #f0f0f0;
}

button[disabled] {
	cursor: default;
}

h1, h2, h3, h4 {
	font-weight: bold;
}

h3:not(:first-child), h4:not(:first-child) {
	margin-top: 10px;
}

h4 {
	font-size: large;
}

h1::before {
	background-image: url('../images/logo.png');
	background-size: cover;
	content: '';
	display: inline-block;
	position: relative;
	height: 40px;
	left: -8px;
	top: 8px;
	width: 40px;
}

nav {
	left: 0px;
	padding: 2px 8px;
	position: absolute;
	top: 0px;
}

p + p {
	margin-top: 10px;
}

section, #handbook nav > ul {
	background-color: var(--content-background);
	border-radius: 8px;
	margin: 10px;
	padding: 10px 20px;
	text-align: left;
}

section h3 {
	margin-bottom: 10px;
}

section * + h3 {
	margin-top: 20px;
}

section ol, section ul {
	margin: 10px 0px;
}

#handbook {
	bottom: 0px;
	display: flex;
	flex-direction: column;
	left: 0px;
	position: fixed;
	right: 0px;
	top: 0px;
}

#handbook > * {
	background-color: var(--page-background);
}

#handbook > header {
	padding-bottom: 10px;
}

#handbook > div {
	align-items: stretch;
	display: flex;
	height: 100%;
}

#handbook > div > iframe {
	border: none;
	border-top-left-radius: 12px;
	width: 100%;
}

#handbook > div > nav {
	padding: 10px;
	position: initial;
}

#handbook nav > h2 {
	font-size: 20px;
}

#handbook nav > ul {
	align-items: stretch;
	display: flex;
	flex-direction: column;
	padding: 10px;
}

#handbook nav li {
	display: block;
	margin: 0px;
	min-height: 36px;
	position: relative;
	top: 6px;
}

#handbook nav a {
	color: black;
	text-decoration: none;
	white-space: nowrap;
}

#system-background {
	min-height: 100px;
}

#system-background img {
	float: right;
	height: 100px;
	width: 100px;
}

.attributeBreakdown {
	column-gap: 10px;
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto auto;
	justify-content: start;
}

.attributeBreakdown > div:first-child {
	align-self: center;
	grid-row: 1 / span 2;
}

.attributeBreakdown > div:nth-child(2), .attributeBreakdown > div:nth-child(4) {
	font-style: italic;
}

.damage-disease {
	color: #e0f0c0;
}

.damage-flame {
	color: #ffd0b0;
}

.damage-frost {
	color: #c0e0ff;
}

.damage-none {
	color: #808090;
}

.damage-poison {
	color: #c0ffd0;
}

.damage-shock {
	color: #d0c0ff;
}

.damage-silver {
	color: silver;
}

.descList p {
	margin-left: 8px;
}

.injury-critical {
	color: var(--common-red);
}

.injury-incapacitated {
	color: #808090;
}

.injury-injured {
	color: var(--common-gold);
}

.injury-uninjured {
	color: var(--common-green);
}

.negative {
	color: var(--common-red);
}

.positive {
	color: var(--common-green);
}

@media screen and (max-width: 575px) {
	body {
		padding: 8px;
	}

	body > h2 {
		margin-top: 20px;
	}

	#handbook > div {
		flex-direction: column;
	}

	#handbook > div > iframe {
		border-top-right-radius: 12px;
		height: 100%;
	}

	#handbook nav > ul {
		flex-direction: row;
		flex-wrap: wrap;
	}

	#handbook nav h4 {
		margin-right: 8px;
	}

	#handbook nav li {
		display: block;
		margin: 0px;
	}

	#handbook nav li + li {
		margin-top: 0px;
	}
}

@media screen and (max-width: 400px) {
	h1 {
		font-size: x-large;
	}

	section {
		padding: 10px;
	}

	#wr_credit {
		height: 280px;
		width: 280px;
	}
}