p + p {
	margin-top: 12px;
}

select {
	display: block;
	margin: 10px;
}

select + select {
	margin-top: 0px;
}

#printout {
	margin-bottom: 20px;
	margin-top: 10px;
	min-width: 300px;
}

#printout.active span[data-account] {
	cursor: pointer;
}

#printout.active span[data-account]:hover {
	font-weight: bold;
}

#profileHeader, #profileBody {
	display: flex;
	margin: 0 20px;
}

#profileCard {
	display: flex;
	flex-direction: column;
	width: 100%;
}

#profileBody {
	margin: 0 20px;
}

#charImage {
	background-color: black;
	background-position: center !important;
	background-size: cover !important;
	border: solid 1px var(--content-border);
	border-radius: 4px;
	height: 300px;
	margin: 0 auto;
	min-width: 300px;
	width: 300px;
}

#characteristics {
	flex-basis: 100%;
	margin: 10px 20px;
}

#characteristics div {
	align-items: flex-start;
	display: flex;
}

#characteristics h4 {
	margin-right: 8px;
	white-space: nowrap;
}

#profileShort {
	margin: 10px 20px;
}

#biography, #oocInfo {
	background-color: var(--page-background);
	border-radius: 8px;
	margin: 0px 20px 10px 20px;
	padding: 10px 20px;
	position: relative;
}

#biography h1, #biography h2, #oocInfo h1, #oocInfo h2 {
	font-size: 1.17em;
}

#oocInfo {
	margin-top: 2.5em !important;
}

#oocInfo::before {
	content: 'OOC Info';
	font-size: 1.25em;
	font-weight: bold;
	left: 0;
	position: absolute;
	right: 0;
	text-align: center;
	top: -1.5em;
}

#storyList {
	align-items: center;
	display: flex;
	flex-direction: column;
}

#charStories {
	border: solid 1px var(--content-border);
	border-radius: 8px;
	width: 400px;
	padding: 4px 8px;
}

#charStories li {
	margin-bottom: 4px;
	margin-top: 4px;
}

.minimal #profileShort a:link, .minimal #profileShort a:hover, .minimal #profileShort a:visited {
	color: white;
	cursor: text;
	text-decoration: none;
}

.nodesc {
	font-style: italic;
	text-align: center;
}

@media screen and (max-width: 1000px) {
	#profileBody {
		flex-direction: column;
	}
}

@media screen and (max-width: 575px) {
	#biography, #oocInfo {
		margin: 20px 0px 10px 0px;
	}

	#characteristics {
		border-bottom: solid 1px var(--page-background);
		margin: 10px 0px;
		padding-bottom: 20px;
	}

	#profileHeader {
		align-items: stretch;
		flex-direction: column;
		margin: 0px 10px;
	}

	#profileBody {
		margin: 0;
	}

	#profileShort {
		margin: 10px 0px 0px 0px;
	}

	#storyList h3 {
		margin-top: 10px;
	}

	#charStories {
		max-width: 100%;
	}

	#charStories li {
		margin-left: 40px;
	}

	select {
		margin: 10px 0px 20px 0px;
		width: 100%;
	}

	#printout {
		min-width: initial;
		max-width: 360px;
	}
}