p + p {
	margin-top: 12px;
}

select {
	margin: 20px;
}

#printout {
	margin-bottom: 20px;
	min-width: 300px;
}

#profileHeader, #profileBody {
	display: flex;
}

#profileCard {
	display: flex;
	flex-direction: column;
	width: 100%;
}

#profileBody {
	margin: 0 20px;
}

#charImage {
	background-color: black;
	background-position: center !important;
	background-size: cover !important;
	border: solid 1px var(--content-border);
	border-radius: 4px;
	height: 300px;
	margin: 0 auto;
	min-width: 300px;
	width: 300px;
}

#characteristics {
	flex-basis: 100%;
	margin: 10px 20px;
}

#characteristics div {
	align-items: flex-start;
	display: flex;
}

#characteristics h4 {
	margin-right: 8px;
	white-space: nowrap;
}

#profileShort {
	background-color: #f0f0f0;
	border: solid 2px var(--content-border);
	border-radius: 8px;
	color: black;
	margin: 20px;
	padding: 8px;
}

#biography {
	margin: 20px;
}

#biography h1, #biography h2, #biography h3, #biography h4, #biography h5 {
	margin: 10px 0;
	text-align: center;
}

.minimal {
	background-color: #404040;
}

.minimal section {
	margin: 0;
	padding: 10px 0;
	width: 100%;
}

.minimal #profileShort {
	margin: 0 20px;
	padding: 0;
}

@media screen and (max-width: 1000px) {
	#profileBody {
		flex-direction: column;
	}
}

@media screen and (max-width: 575px) {
	#profileHeader {
		align-items: stretch;
		flex-direction: column;
	}

	#profileBody {
		margin: 0;
	}

	#profileShort {
		margin: 10px 0px 0px 0px;
	}

	select {
		margin: 10px 0px 20px 0px;
		width: 100%;
	}

	#printout {
		min-width: initial;
		max-width: 360px;
	}
}