p + p {
	margin-top: 12px;
}

section {
	display: flex;
}

section div:last-child {
	flex-basis: 100%;
	margin-left: 20px;
	padding: 20px;
}

select {
	margin: 20px;
}

#printout {
	min-width: 300px;
}

#profileText > div {
	background-color: #f0f0f0;
	border: solid 2px var(--content-border);
	border-radius: 8px;
	color: black;
}

.minimal {
	background-color: #404040;
}

.minimal section {
	margin: 0;
	padding: 10px 0;
	width: 100%;
}

.minimal #profileText {
	margin: 0;
	padding: 0;
}

.minimal #profileText > div {
	margin: 0 20px;
}

@media screen and (max-width: 575px) {
	section {
		flex-direction: column;
	}

	section > div:first-child {
		order: 2;
	}

	section div:last-child {
		margin-left: 0px;
		padding: 10px;
	}

	select {
		margin: 10px 0px 20px 0px;
		width: 100%;
	}

	#printout {
		min-width: initial;
		max-width: 360px;
	}
}