#main {
	display: flex;
	min-height: 720px;
}

#charInfo {
	flex-basis: 20%;
	min-width: 320px;
}

#charInfo form {
	display: grid;
}

#charInfo label {
	padding-right: 4px;
	text-align: right;
	width: 100%;
}

#charInfo input {
	grid-column-start: 2;
}

#charInfo .buttonHolder {
	grid-column: 1 / span 2;
	padding: 4px;
	text-align: center;
}

#errorModal, #rollModal {
	display: none;
}

#printout {
	margin: 20px 0px;
}

#readOut {
	flex-basis: 80%;
}