#main {
	display: flex;
	min-height: 720px;
}

#charInfo {
	flex-basis: 20%;
	min-width: 320px;
}

#charInfo form {
	display: grid;
}

#charInfo h3 {
	text-align: left;
}

#charInfo label {
	padding-right: 4px;
	text-align: right;
	width: 100%;
}

#charInfo input {
	grid-column-start: 2;
}

#charInfo .buttonHolder {
	grid-column: 1 / span 2;
	padding: 4px;
	text-align: center;
}

#errorModal, #rollModal {
	display: none;
}

#forceRollGMComment {
	background-color: #383838;
	border-radius: 4px;
	display: none;
	font-style: italic;
	padding: 2px 8px;
}

#printout {
	margin: 20px 0px;
}

#readOut {
	flex-basis: 100%;
}

#rollingSection {
	display: flex;
	flex-basis: 80%;
	flex-direction: column;
}

#rollingSection section:last-child > div:last-child {
	align-items: center;
	display: flex;
	margin: 8px 0;
}

#rollingSection section:last-child > div:last-child * {
	margin-left: 8px;
}

#rollControls {
	align-items: center;
	border: solid 1px #202020;
	border-radius: 4px;
	display: flex;
	padding: 2px 8px;
}

#rollControls > div:first-child {
	border: solid 1px #202020;
	border-radius: 4px;
	padding: 8px;
}

#rollControls > div:last-child {
	padding: 8px;
}

#rollControls input {
	margin-top: 4px;
	width: 100%;
}

.gmExtra, .gmInfo {
	background-color: maroon !important;
}

@media screen and (max-width: 700px) {
	#charInfo form {
		grid-template-columns: 1fr 4fr;
	}

	#main {
		flex-direction: column;
		align-items: stretch;
	}

	#printout {
		margin: 0 auto;
		max-width: 300px;
	}
}

@media screen and (max-width: 575px) {
	#readOut {
		padding: 10px;
	}

	#rollControls {
		align-items: stretch;
		flex-direction: column;
	}

	#rollingSection section:last-child div:last-child {
		margin: 0;
		padding: 0;
	}

	#rollControls > div > div {
		margin: 4px 0px 4px 4px !important;
	}
}
