hr, p:not(:last-child) {
    margin-bottom: 12px;
}

#main h1, #main h2, #main h3, #main h4, #main h5 {
    margin-bottom: 12px;
    text-align: left;
}

#main h1:first-of-type {
    border-bottom: solid 1px #a0a0a0;
    font-size: 32px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    text-align: center;
}