:root {
	--page-background: #202020;
	--inset-background: #101010;
	--content-color: white;
	--content-background: #404040;
	--content-border: #202020;
	--subordinate-text: #e0e0e0;
	--comment-background: #383838;
	--gm-color: silver;
	--gm-background: #303030;
	--important-background: #606060;
	--printout-color: black;
	--printout-background: silver;
	--link-color: #80c0ff;
	--link-visited: #5090e0;
	--common-green: #c0ffb0;
	--common-gold: #fff0c0;
	--common-red: #ffc0b0;
	--common-alert: #ff2000;

	--nav-width: 160px;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

li {
	margin-left: 20px;
}

body {
	background-color: var(--page-background);
	color: var(--content-color);
	text-align: center;
}

body, textarea {
	font-family: U001Regular, sans-serif;
}

a:link {
	color: var(--link-color);
}

a:visited {
	color: var(--link-visited);
}

button, #auth-panel button {
	background-color: #e0e0e0;
	border-bottom: solid 2px #808080;
	border-left: solid 2px silver;
	border-radius: 4px;
	border-right: solid 2px #808080;
	border-top: solid 2px silver;
	cursor: pointer;
	margin: 2px;
	padding: 2px 8px;
}

button:hover, #auth-panel button:hover {
	background-color: #f0f0f0;
}

button[disabled] {
	cursor: default;
}

h1, h2, h3, h4 {
	font-weight: bold;
}

nav h1::before {
	background-image: url('../images/logo.png');
	background-size: cover;
	content: '';
	display: inline-block;
	position: relative;
	height: 40px;
	left: -8px;
	top: 8px;
	width: 40px;
}

nav {
	position: relative;
	top: 0;
}

nav h1 {
	font-size: 28px;
	margin-top: 8px;
	padding-bottom: 12px !important;
}

nav h1.nopointer {
	cursor: default;
}

nav h1:not(.nopointer) {
	border-radius: 50px;
	cursor: pointer;
	display: inline-block;
	padding: 0px 20px;
}

nav h1:not(.nopointer):hover {
	background-color: var(--gm-background);
	transition: 0.5s;
}

section {
	background-color: var(--content-background);
	border-radius: 8px;
	margin: 10px;
	padding: 10px 20px;
	text-align: left;
}

section h2, section h3 {
	margin-bottom: 8px;
	text-align: center;
}

ul {
	display: inline-block;
}

#modalBG {
	align-items: center;
	background-color: rgba(0, 0, 0, 0.75);
	bottom: 0;
	display: none;
	justify-content: center;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1000;
}

.show {
	display: block !important;
}

#auth-panel .firebaseui-container {
	margin: 40px auto 0px auto;
}

#auth-panel .firebaseui-container h1, #auth-panel .firebaseui-container h1 label {
	color: var(--content-color);
}

#auth-panel .firebaseui-container input {
	background-color: var(--content-color);
}

.firebaseui-container h1 label::after {
	background-color: var(--page-background);
}

#auth-panel .firebaseui-container h1::before {
	display: none;
}


#modalBG.show {
	display: flex !important;
}

#modalBG > div {
	background-color: var(--content-background);
	border: solid 2px var(--content-border);
	border-radius: 10px;
	display: none;
	max-width: 400px;
	padding: 10px;
}

#modalBG div p {
	margin: 10px;
}

#profileModal {
	padding: 0px 0px 10px 0px !important;
	width: 500px;
}

#loading {
	background-image: url('../images/loading.gif');
	background-position: center;
	background-repeat: no-repeat;
	height: 100px;
	margin: 100px auto 0px auto;
	width: 100px;
}

#modalBG iframe {
	border: none;
	border-radius: 8px;
	display: block;
	height: 400px;
	width: 100%;
}

#printout {
	background-color: silver;
	border-radius: 8px;
	color: black;
	font-family: monospace;
	padding: 20px;
	text-align: left;
}

#printout a {
	display: block;
	text-align: center;
}

#eventPane {
	counter-reset: event;
	margin-right: -20px;
	padding-right: 20px;
	max-height: 650px;
	overflow: auto;
}

#eventPane > div, #eventPane .playersubordinate {
	background-color: var(--content-background);
	border: solid 1px var(--content-border);
	border-radius: 4px;
	color: var(--subordinate-text);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 2px;
	padding: 8px;
	position: relative;
	width: 100%;
}

#eventPane > *[countMe] > *:first-child {
	margin-left: 20px;
}

#eventPane > *[countMe]::before {
	color: rgba(255, 255, 255, 0.5);
	counter-increment: event;
	content: counter(event);
	position: absolute;
	top: 8px;
	left: 2px;
}

#eventPane p {
	margin-bottom: 4px;
}

#eventPane .error {
	background-color: maroon;
}

#eventPane .gmControls, #eventPane .gmInfo, #eventPane .gmExtra {
	background-color: var(--gm-background);
	color: var(--gm-color);
}

#eventPane .gmControls, #eventPane .gmExtra {
	border-radius: 4px;
	margin-top: 4px;
	padding: 2px 8px 8px 8px;
	width: 100%;
}

#eventPane .gmControls {
	align-items: center;
	border: solid 1px var(--content-border);
	display: flex;
	flex-wrap: wrap;
	padding: 2px 8px;
}


#eventPane .gmExtra button {
	margin-left: 8px;
}

#eventPane .gmControls button {
	margin: 2px;
}

#eventPane .gmExtra > div {
	display: flex;
	flex-wrap: wrap;
}

#eventPane .gmExtra > div > div {
	border: solid 1px var(--content-border);
	border-radius: 4px;
	margin: 4px 4px;
	padding: 2px 8px;
}

#eventPane .gmExtra input[type='text'] {
	width: 100%;
}

#eventPane .gmControls input[type='text'] {
	flex-grow: 1;
	width: auto;
}

#eventPane .subordinate {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 4px;
	width: 100%;
}

#eventPane .gmExtra.subordinate div:not(.gmControls) {
	display: block;
}

#eventPane .rollComment {
	background-color: var(--comment-background);
	border-radius: 4px;
	font-style: italic;
	padding: 2px 8px;
}

#eventPane .rollResult {
	font-weight: bold;
	white-space: nowrap;
}

#eventPane > div + div {
	margin-top: 10px !important;
}

#eventPane .gmComment {
	background-color: var(--important-background);
	display: block;
}

#eventPane .gmComment  h3 {
	text-align: left;
}

#printout .transformation {
	color: maroon;
	font-weight: bolder;
}

.damageResist, .luckyRoll {
	color: var(--common-green);
}

.damageWeakness, .unluckyRoll {
	color: var(--common-red);
}

.toolbar {
	align-items: flex-start;
	bottom: 0;
	display: flex;
	flex-direction: row-reverse;
	position: absolute;
	right: 0;
	top: 0;
}

.toolbar > div {
	border-radius: 16px;
	cursor: pointer;
	opacity: 0.5;
	margin: 8px;
	padding: 4px 12px 4px 8px;
	transform: scale(-1, 1);
	transition: 0.5s;
	vertical-align: middle;
	width: 32px;
}

.toolbar > div:hover {
	background-color: var(--gm-background);
	opacity: 1.0;
}

.toolbar > div a {
	color: var(--content-color);
}

.flexMe {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
}

.hideMe {
	display: none !important;
}

.redFlag {
	color: var(--common-alert);
}

@media screen and (max-width: 980px) {
	#eventPane > div, .playersubordinate {
		align-items: stretch;
		flex-direction: column;
	}

	.playersubordinate {
		margin-top: 4px;
	}

	.rollComment {
		display: block;
		margin-bottom: 4px;
	}

	.rollResult {
		text-align: right;
		margin-right: 4px;
	}
}

@media screen and (max-width: 575px) {
	button {
		min-width: 60px;
	}

	button, input, select {
		height: 30px;
		padding: 6px;
	}
	
	h1::before {
		display: block;
		height: 60px;
		left: 0;
		margin: 4px auto 0 auto;
		top: 0;
		width: 60px;
	}

	label, #eventPane {
		font-size: large;
	}

	#eventPane {
		max-height: 300px;
	}

	.toolbar > div {
		background-color: var(--gm-background);
		max-height: 40px;
		top: 0px;
	}
}


@media screen and (max-width: 400px) {
	h1 {
		font-size: x-large;
	}

	section {
		padding: 10px;
	}
}
